[submodule "simulation/relayers-only/chain"]
	path = simulation/relayers-only/chain
	url = git@github.com:yanganto/substrate-node-template.git
	branch = relayer-game-relayers-only
[submodule "simulation/affirmation/chain"]
	path = simulation/affirmation/chain
	url = git@github.com:yanganto/substrate-node-template.git
	branch = relayer-game-proposal
[submodule "simulation/affirmation-only/chain"]
	path = simulation/affirmation-only/chain
	url = git@github.com:yanganto/substrate-node-template.git
	branch = relayer-game-proposal-only
